[user]
	email = 1559932694@qq.com
	name = Riosky
[credential]
	helper = cache
[color]
	ui = true
[core]
	editor = vim
[url "https://github.com/"]
	insteadOf = git://github.com/
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[gui]
	encoding = utf-8
[http]
	sslVerify = false
	version = HTTP/1.1
[credential "https://gitee.com"]
	provider = generic
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
